<div id="main.html" class="col-sm-12 wc-view" style="margin-bottom:20px;">
  <div id="c-cloud-word" c-cloud-word words="topWords" class="col-sm-12"></div>
</div>
<center>
  <h5 style="margin-top:20px;" id="waitingMessage">{{waitingMessage}}</h5>
</center>
<div class="xs-col-8 xs-col-offset-2 row" style="text-align:center;">
  <div class="col-md-12 col-md-offset-0 row" style="margin:20px;">

    <div class="col-md-5">
      <form ng-submit="generateWC();">
      <input type="text" ng-model="currentSearch" id="autocomplete" class="form-control" ng-change="updateSearchContent()" style="border:solid purple 2px;" />
      </form>
    </div>
    <div c-action-button callback="generateWC" text="'Submit'"></div>
    <div id="add2cloud" c-action-button callback="addToCloud" text="'Add to Cloud'"></div>
    <div id="facebook" class="fb-share-button" data-href="{{shareUrl}}" data-layout="button_count"></div>
  </div>
</div>
<style>
  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
  height: 100px;
}
</style>
