<!DOCTYPE html>
<html>
  <head>
    <style> 
    #cloudSpace {
        width: 700px;
        height: 500px;
        background-color: white;
        text-align: center;
        margin: 15px;
    }
    </style>
  </head>
<body>

  <div ng-app= "frontendApp">
    <div ng-controller="MainCtrl">
      <div id="cloudSpace" style="display:none;"> </div>
       <div class="xs-col-8 xs-col-offset-2 row" style="text-align:center;">
        <input placeholder="Search Artist" type= "text" id="searchText" class="purple-border"></input>
        <h id="buttons">
        <input type="Submit" onclick="submitFunction();"id="submitButton" class="btn btn-primary" style="background-color:purple;"></input>
        <button ng-click="addtoCloudFunction()" id="addtoCloudButton" class="btn btn-primary" style="background-color:purple;">Add To Cloud</button>
        <button ng-click="sharetoFBFunction()" id="sharetoFBButton" class="btn btn-primary" style="background-color:purple;">Share</button></h>
      </div>
  </div>


  <script>
  function submitFunction() {
      // var artistName = document.getElementById("searchText").innerHTML;
      // document.getElementById("cloudSpace").innerHTML = artistName;
      document.getElementById("cloudSpace").style.display = "block";
  }
  </script>

</body>
</html>
