<div class="col-sm-12">
    <h3>'{{searchWord}}'</h3>
    <table class="table" id="songlist" style="text-align:left;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="song in songsList|orderBy:'count':true">
                <td>
                    <a class="c-link" ng-href="{{song.link}}">
                        {{song.title}}
                    </a>
                </td>
                <td>
                    <b>
                        {{song.count}}
                    </b>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-sm-12 row">
        <div id="back2cloud" c-navigation-button link="cloudLink" text="'Back to Cloud'"></div>
    </div>
</div>
